@model IEnumerable<BlogIT.Models.BlogPost>

@if (User.IsInRole("Admin"))
{ 
	<p>
		<input type="button" class="btn btn-outline-primary" value="New Post" onclick="location.href='@Url.Action("Add")'" />
	</p>
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Signature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>*@
@foreach (BlogPost blog in ViewBag.BlogBag) {
        @*<tr>*@
    <div class="jumbotron text-center">
            <p class="lead">
                @Html.DisplayFor(modelItem => blog.Category)
            </p>
            <h1 class="display-1" style="color:#EB6864">
                @Html.DisplayFor(modelItem => blog.Title)
            </h1>
            <p class="lead">
                @Html.DisplayFor(modelItem => blog.Description)
            </p>
            <p>
                @Html.DisplayFor(modelItem => blog.Text)
            </p>
            <h5>
                @Html.DisplayFor(modelItem => blog.Signature)
            </h5>
            @if (User.IsInRole("Admin")) 
            { 
	<div style="margin-top:2em;">
		<input type="button" class="btn btn-outline-primary" value="Edit" onclick="location.href='@Url.Action("Edit", new {id = blog.BlogId })'" />
		<input type="button" class="btn btn-outline-primary" value="Delete" onclick="location.href='@Url.Action("Delete", new {id = blog.BlogId })'" />
	</div>
            }
    </div>
        @*</tr>*@
}
    @*</tbody>*@
@*</table>*@
