@model IEnumerable<BlogIT.Models.BlogPost>

@if (User.IsInRole("Admin"))
{ 
    <p>

	    <a asp-action="Add">Create New</a>
    </p>
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Signature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>*@
@foreach (BlogPost blog in ViewBag.BlogBag) {
        @*<tr>*@
    <div class="jumbotron text-center">
            <p class="lead">
                @Html.DisplayFor(modelItem => blog.Category)
            </p>
            <h1 class="display-1" style="color:#EB6864">
                @Html.DisplayFor(modelItem => blog.Title)
            </h1>
            <p class="lead">
                @Html.DisplayFor(modelItem => blog.Description)
            </p>
            <p>
                @Html.DisplayFor(modelItem => blog.Text)
            </p>
            <h5>
                @Html.DisplayFor(modelItem => blog.Signature)
            </h5>
            @if (User.IsInRole("Admin")) 
            { 
                <td>
                    <a asp-action="Edit" asp-route-id="@blog.BlogId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@blog.BlogId">Delete</a>
                </td>
            }
    </div>
        @*</tr>*@
}
    @*</tbody>*@
@*</table>*@
