@model List<NewsAPI.Models.Article>

@{
	ViewData["Title"] = "MainMediaPage";
}

<div class="jumbotron text-center" style="padding: 16px;">
	<h1 class="display-4">Media</h1>
	<p>
		Keeping my sights on the latest and greatest news in the industry is an important passion of mine. 
		Included below are some of the most popular articles collected from all over the internet. 
		On my blogs I love to discuss what I read and review from the interesting articles below! 
		Feel free to click the links in the titles to take a peek for yourself!
	</p>
</div>

<br />

@foreach (NewsAPI.Models.Article article in Model)
{
<div class="card" style="color:white; background-color: #404040; width: 18rem; height: 25rem; float:left; margin-left: 50px; margin-bottom: 5.5em;">
	<div class="card-body" >
		<h5 class="card-title">
			<a href="@article.Url" style="color:#EB6864">@Html.DisplayFor(modelItem => article.Title)</a>
		</h5>
		<p class="card-text">
			@Html.DisplayFor(modelItem => article.Author)
			@Html.DisplayFor(modelItem => article.Description)
			<br />
		<p style="color:#BEBEBE">@Html.DisplayFor(modelItem => article.PublishedAt)</p>
	</div>
</div>
}
