@model List<NewsAPI.Models.Article>

@{
	ViewData["Title"] = "MainMediaPage";
}

<div class="text-center">
	<h1 class="display-4">Media</h1>
	<p>Take a moment to check out the lastest tech news!</p>
</div>

<br />

@foreach (NewsAPI.Models.Article article in Model)
{
<div class="card" style="color:white; background-color: #404040; width: 18rem; height: 25rem; float:left; margin-left: 50px; margin-bottom: 5.5em;">
	<div class="card-body" >
		<h5 class="card-title">
			<a href="@article.Url" style="color:#EB6864">@Html.DisplayFor(modelItem => article.Title)</a>
		</h5>
		<p class="card-text">
			@Html.DisplayFor(modelItem => article.Author)
			@Html.DisplayFor(modelItem => article.Description)
			<br />
		<p style="color:#BEBEBE">@Html.DisplayFor(modelItem => article.PublishedAt)</p>
	</div>
</div>
}
